
.content {
  background-color: #1a0118;
}

.header-image {
  background-image: url("./../images/space.jpg");
  background-size: cover;
  height: 100px;
}

.main-title {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 4%;
  padding-bottom: 2%;
}

