
.header-image {
  background-image: url("./../images/space.jpg");
  background-size: cover;
  height: 200px;
}

.main-title {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

