<h1>Soy la página principal</h1>

    <div class="center-content">
      <h1 class="main-title">Starships</h1>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" (click)="requestStarships('cargoCapacity_DESC')" checked> Cargo capacity
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" (click)="requestStarships('costInCredits_DESC')"> Cost in credits
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option3" (click)="requestStarships('crew_DESC')"> Crew
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option4" (click)="requestStarships('hyperdriveRating_DESC')"> Hyperdrive rating
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option5" (click)="requestStarships('length_DESC')"> Length
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option6" (click)="requestStarships('maxAtmospheringSpeed_DESC')"> Max atmosphering speed
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option7" (click)="requestStarships('passengers_DESC')"> Passengers
        </label>
      </div>
    </div>





  <div class="container progress-background" *ngFor="let data of ships">
    <span class="progress-name">{{data.name}}</span>
    <div class="progress" style="">
      <div class="progress-bar" role="progressbar" style="width: {{data.percentage}}%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="7400"></div>
    </div>
    <span>{{data.percentage}}</span>
  </div>

  <router-outlet></router-outlet>
